.logo {
    width: 25%;
    padding-top: 20px;
    height : 10%;
    padding-bottom: 5%;
}
.carticon{
    width: 50px;
    height: 2%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 70px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    padding-left: 70px;
    margin-left: -7px;
    margin-top: -10px;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 30px;
}
#navbar > li:nth-child(1) {
    padding-left: 30px;
    padding-right: 30px;
}
#navbar > li:nth-child(3) {
    width: 100px;
}
#navbar > li:nth-child(2) {
    width: 85px;
}
#navbar > li:nth-child(4) {
    width: 70px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
    position: relative;
}

#navbar li a:hover,
#navbar li a:active{
    color: darkblue;
}

#navbar li a:active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero{
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    background-size: cover;
    margin-left: -8px;
}
.text1{
    display: flex;
    padding-left: 70%;
    flex-direction: column;
    align-items: right;
}    
#hero button{
    border-right-style: solid;
    margin-right: 350px;
}
#hero h4{
    font-size: 25px;
}
#hero h2{
    font-size: 40px;
}
#hero h1{
    font-size: 40px;
}

#feature{
    display: flex;
    flex-direction: row;
}
.fe-box{
    margin-left: 50px;
    margin-top: 100px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius:4px;
}
.online-order{
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius:4px;
}
.save-money{
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    padding-top: 15px;
    border-radius:4px;
}
.promotions{
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius:4px;
}
.sell{
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius:4px;
}
.support{
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius:4px;
}
.center{
    width: 90px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#feature h6{
    text-align: center;
}
#h6c{
    padding-top: 8px;
}
#h6d{
    padding-top: 6px;
}
#h6e{
    padding-top: 6px;
}
#h6f{
    padding-top: 7px;
}
#h6b{
    padding-top: 6px;
}
#fe-products{
    text-align: center;
}
#fe-products .pro{
    width: 23%;
    min-width: 250px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
#fe-products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#p1{
    width: 400px;
    height: 500px;

    border-radius: 20px;
}
#cart1{
    width: 9%;
    height: 10%;
}
.pro-container1{
    display: flex;
    flex-direction: row;
}
.pro{
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.pro:nth-child(3) {
    padding-left: 75px;
}



